# Build artifacts
bin/
obj/
artifacts/

# User-specific files
*.user
*.rsuser
*.suo

# IDE folders
.vs/
.vscode/

# Test and coverage artifacts
TestResults/
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
